backup_data/workflows/5202/5202.json
{
  "workflow": {
    "id": 5202,
    "name": "🧠 AI blog post journalist (Perplexity for research, Anthropic Claude for blog)",
    "views": 7108,
    "recentViews": 2,
    "totalViews": 7108,
    "createdAt": "2025-06-24T14:29:45.049Z",
    "description": "*This workflow contains community nodes that are only compatible with the self-hosted version of n8n.* \n\n🧠 AI-Powered Blog Post Generator\nCategory: Content Automation / AI Writing / Marketing\n\nDescription:\nThis automated workflow helps you generate fresh, SEO-optimized blog posts daily using AI tools—perfect for solo creators, marketers, and content teams looking to stay on top of the latest AI trends without manual research or writing.\n\nFor more of such builds and step-by-step Tutorial Guides, check out:\nhttps://www.youtube.com/@Automatewithmarc\n\nHere’s how it works:\n\nSchedule Trigger kicks off the workflow daily (or at your preferred interval).\n\nPerplexity AI Node researches the most interesting recent AI news tailored for a non-technical audience.\n\nAI Agent (Claude via Anthropic) turns that news into a full-length blog post based on a structured prompt that includes title, intro, 3+ section headers, takeaway, and meta description—designed for clarity, engagement, and SEO.\n\nOptional Memory & Perplexity Tool Nodes enhance the agent's responses by allowing it to clarify facts or fetch more context.\n\nGoogle Docs Node automatically saves the final blog post to your selected document—ready for review, scheduling, or publishing.\n\nKey Features:\n\nCombines Perplexity AI + Claude AI (Anthropic) for research + writing\n\nBuilt-in memory and retrieval logic for deeper contextual accuracy\n\nNon-technical, friendly writing style ideal for general audiences\n\nOutput saved directly to Google Docs\n\nFully no-code, customizable, and extendable\n\nUse Cases:\n\nAutomate weekly blog content for your newsletter or site\n\nRepurpose content into social posts or scripts\n\nKeep your brand relevant in the fast-moving AI landscape\n\nSetup Requirements:\n\nPerplexity API Key\n\nAnthropic API Key\n\nGoogle Docs (OAuth2 connected)\n\n",
    "workflow": {
      "id": "91ODWr9EkSAETwX2",
      "meta": {
        "instanceId": "1c7b08fed4406d546caf4a44e8b942ca317e7e207bb9a5701955a1a6e1ce1843",
        "templateCredsSetupCompleted": true
      },
      "name": "AI-Powered Blog Post Generator",
      "tags": [],
      "nodes": [
        {
          "id": "bc282e38-6c6a-409c-b017-34cb852ff5b7",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            -120,
            0
          ],
          "parameters": {
            "rule": {
              "interval": [
                {}
              ]
            }
          },
          "typeVersion": 1.2
        },
        {
          "id": "e7e64550-2d73-4797-a0f7-58456e76642c",
          "name": "Perplexity - Blog Topic Research Node",
          "type": "n8n-nodes-base.perplexity",
          "position": [
            160,
            0
          ],
          "parameters": {
            "model": "sonar-pro",
            "options": {
              "searchRecency": "week"
            },
            "messages": {
              "message": [
                {
                  "content": "Research on the latest AI news that will be interesting to blog about. Choose and return only the most interesting news for the blog intended for non-technical audience trying to learn more about AI."
                }
              ]
            },
            "requestOptions": {}
          },
          "credentials": {
            "perplexityApi": {
              "id": "credential-id",
              "name": "perplexityApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "ce9a37b0-5fac-4cc6-8877-7a09d23467e1",
          "name": "Anthropic Chat Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
          "position": [
            480,
            200
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "claude-sonnet-4-20250514",
              "cachedResultName": "Claude 4 Sonnet"
            },
            "options": {}
          },
          "credentials": {
            "anthropicApi": {
              "id": "credential-id",
              "name": "anthropicApi Credential"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "2ac602fb-7cde-4cae-971d-c374ae429b1e",
          "name": "AI Agent",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            520,
            0
          ],
          "parameters": {
            "text": "={{ $json.choices[0].message.content }}",
            "options": {
              "systemMessage": "=You are a professional blog content writer for a tech news site that translates the latest AI breakthroughs and developments into engaging, non-technical blog posts.\n\nYour task is to write a clear, captivating, and SEO-optimized blog post based on the latest AI topic provided by the previous node (Perplexity AI Search output). The post should be easy to understand by general readers with no technical background, while still sounding informed, current, and exciting.\n\nINSTRUCTIONS:\n\nAudience: General readers, professionals, and business folks curious about AI—but not developers or engineers.\n\nTone & Style:\n\nFriendly, conversational, curious\n\nNot clickbait, but exciting and easy to read\n\nAvoid jargon unless necessary, and always explain it simply\n\nUse storytelling or a real-world metaphor/example when possible\n\nFormat:\n\nTitle (must include primary keywords related to the topic)\n\n1-paragraph Hook/Intro (make the reader want to read on)\n\n3–5 short sections with headers\n\nFinal Takeaway / What this means for the average reader\n\nSEO Meta Description (max 155 characters)\n\nInclude 3–5 SEO keywords naturally in the body\n\nUse bullet points or bolding to improve skimmability\n\nRules:\n\nDo not fabricate facts.\n\nIf additional context is needed, call the Perplexity Search Tool for clarification\n\nDo not overuse buzzwords or technical terms—explain them simply if used\n\nKeep paragraphs short and engaging\n\nExample Topics This Prompt Can Work For:\n\n“How Apple is using AI in its new products”\n\n“Why the EU is regulating AI and what it means for us”\n\n“OpenAI’s latest model and what it can do for small businesses”\n\n# [Catchy SEO Blog Title with Keyword]\n\n*[Optional Subtitle for clarity]*\n\n**Intro:**  \n[Compelling hook paragraph that introduces the topic with relevance and clarity.]\n\n## [Subheading 1]\n[Explain one key point from the research, in a simple, friendly way.]\n\n## [Subheading 2]\n[Another key aspect, ideally with a metaphor, stat, or quote.]\n\n## [Subheading 3]\n[Implications, opportunities, or what to look out for.]\n\n**Takeaway:**  \n[A 2–3 sentence wrap-up telling readers what they should remember or what action they might take.]\n\n**Meta Description:**  \n[Short, SEO-focused summary of the blog post. Max 155 characters.]\n\n**SEO Keywords:**  \n[Include a few relevant SEO keywords you naturally used in the blog.]\n"
            },
            "promptType": "define"
          },
          "typeVersion": 2
        },
        {
          "id": "9f7883ed-c94d-4012-a7ab-df12d9b874ca",
          "name": "Simple Memory",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "position": [
            600,
            200
          ],
          "parameters": {
            "sessionKey": "={{ $('Perplexity - Blog Topic Research Node').item.json.id }}",
            "sessionIdType": "customKey"
          },
          "typeVersion": 1.3
        },
        {
          "id": "e48b32af-4126-4afa-8d5b-680b95128b07",
          "name": "Perplexity Search Tool",
          "type": "n8n-nodes-base.perplexityTool",
          "position": [
            760,
            200
          ],
          "parameters": {
            "model": "sonar-pro",
            "options": {},
            "messages": {
              "message": [
                {
                  "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
                }
              ]
            },
            "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
            "requestOptions": {}
          },
          "credentials": {
            "perplexityApi": {
              "id": "credential-id",
              "name": "perplexityApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "28023ef7-b506-4a24-94aa-d238dd934fb7",
          "name": "Google Docs",
          "type": "n8n-nodes-base.googleDocs",
          "position": [
            1020,
            0
          ],
          "parameters": {
            "actionsUi": {
              "actionFields": [
                {
                  "text": "={{ $json.output }}",
                  "action": "insert"
                }
              ]
            },
            "operation": "update",
            "documentURL": ""
          },
          "credentials": {
            "googleDocsOAuth2Api": {
              "id": "credential-id",
              "name": "googleDocsOAuth2Api Credential"
            }
          },
          "typeVersion": 2
        },
        {
          "id": "1f08afc2-e82e-4299-a9d4-e5d22c61c77b",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -200,
            -200
          ],
          "parameters": {
            "width": 260,
            "height": 600,
            "content": "Schedule Trigger"
          },
          "typeVersion": 1
        },
        {
          "id": "3047e161-9da7-4dc3-97be-a80781bddf49",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            80,
            -200
          ],
          "parameters": {
            "color": 3,
            "width": 300,
            "height": 600,
            "content": "Schedule Trigger"
          },
          "typeVersion": 1
        },
        {
          "id": "31e687c4-363f-49ee-abd2-93fc3d13ea59",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            400,
            -200
          ],
          "parameters": {
            "color": 5,
            "width": 500,
            "height": 600,
            "content": "Schedule Trigger"
          },
          "typeVersion": 1
        },
        {
          "id": "32b8771b-67cf-4521-8d79-c032e3d70f72",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            920,
            -200
          ],
          "parameters": {
            "color": 6,
            "width": 300,
            "height": 600,
            "content": "Schedule Trigger"
          },
          "typeVersion": 1
        },
        {
          "id": "ac2f86cc-099f-4985-a780-7c06b605bf91",
          "name": "Sticky Note4",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -860,
            -200
          ],
          "parameters": {
            "width": 620,
            "height": 1020,
            "content": "🧠 AI-Powered Blog Post Generator\nCategory: Content Automation / AI Writing / Marketing\n\nDescription:\nThis automated workflow helps you generate fresh, SEO-optimized blog posts daily using AI tools—perfect for solo creators, marketers, and content teams looking to stay on top of the latest AI trends without manual research or writing.\n\nFor more of this build and step-by-step tutorials, check out:\nhttps://www.youtube.com/@Automatewithmarc\n\nHere’s how it works:\n\nSchedule Trigger kicks off the workflow daily (or at your preferred interval).\n\nPerplexity AI Node researches the most interesting recent AI news tailored for a non-technical audience.\n\nAI Agent (Claude via Anthropic) turns that news into a full-length blog post based on a structured prompt that includes title, intro, 3+ section headers, takeaway, and meta description—designed for clarity, engagement, and SEO.\n\nOptional Memory & Perplexity Tool Nodes enhance the agent's responses by allowing it to clarify facts or fetch more context.\n\nGoogle Docs Node automatically saves the final blog post to your selected document—ready for review, scheduling, or publishing.\n\nKey Features:\n\nCombines Perplexity AI + Claude AI (Anthropic) for research + writing\n\nBuilt-in memory and retrieval logic for deeper contextual accuracy\n\nNon-technical, friendly writing style ideal for general audiences\n\nOutput saved directly to Google Docs\n\nFully no-code, customizable, and extendable\n\nUse Cases:\n\nAutomate weekly blog content for your newsletter or site\n\nRepurpose content into social posts or scripts\n\nKeep your brand relevant in the fast-moving AI landscape\n\nSetup Requirements:\n\nPerplexity API Key\n\nAnthropic API Key\n\nGoogle Docs (OAuth2 connected)"
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "69254d17-147f-4e2a-9508-366be9ce75f2",
      "connections": {
        "AI Agent": {
          "main": [
            [
              {
                "node": "Google Docs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Simple Memory": {
          "ai_memory": [
            [
              {
                "node": "AI Agent",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Perplexity - Blog Topic Research Node",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Anthropic Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Perplexity Search Tool": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Perplexity - Blog Topic Research Node": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 51,
    "workflowInfo": {
      "nodeCount": 12,
      "nodeTypes": {
        "n8n-nodes-base.googleDocs": {
          "count": 1
        },
        "n8n-nodes-base.perplexity": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 5
        },
        "n8n-nodes-base.perplexityTool": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 1
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatAnthropic": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
          "count": 1
        }
      }
    },
    "status": "published",
    "user": {
      "name": "Automate With Marc",
      "username": "marconi",
      "bio": "Automating Start-Up and Business processes. \nHelping non-techies understand and leverage Agentic AI with easy to understand step-by-step tutorials.\nCheck out my educational content:\nhttps://www.youtube.com/@Automatewithmarc\n",
      "verified": true,
      "links": [
        "https://www.youtube.com/@Automatewithmarc"
      ],
      "avatar": "https://gravatar.com/avatar/b9654a0dd147e6f3fa7e6eb601b6572b8051c8ab4cb693774451adf9a6294798?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 495,
        "icon": "file:googleDocs.svg",
        "name": "n8n-nodes-base.googleDocs",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledocs/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Miscellaneous"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Google Docs"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSItMTggMCA5MCA4MCI+PHVzZSB4bGluazpocmVmPSIjYSIgeD0iLjUiIHk9Ii41Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzU0OGRmNiIgZD0ibTM2IDAgMjIgMjJ2NTNhNC45OSA0Ljk5IDAgMCAxLTUgNUg1YTQuOTkgNC45OSAwIDAgMS01LTVWNWE0Ljk5IDQuOTkgMCAwIDEgNS01eiIvPjxwYXRoIGQ9Ik0xNCA0MGgzMHYzSDE0em0wIDdoMzB2M0gxNHptMCA4aDMwdjNIMTR6bTAgN2gyMXYzSDE0eiIvPjxwYXRoIGZpbGw9IiNhYmQwZmIiIGQ9Im0zNiAwIDIyIDIySDQxYy0yLjc3IDAtNS0yLjQ4LTUtNS4yNXoiLz48cGF0aCBmaWxsPSIjM2U1YmI5IiBkPSJNNDAuNzUgMjIgNTggMjkuMTI1VjIyeiIvPjwvZz48L3N5bWJvbD48L3N2Zz4="
        },
        "displayName": "Google Docs",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 11,
            "name": "Miscellaneous"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1145,
        "icon": "file:anthropic.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "codex": {
          "data": {
            "alias": [
              "claude",
              "sonnet",
              "opus"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatanthropic/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Anthropic Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzdEN0Q4NyIgZD0iTTMyLjczIDBoLTYuOTQ1TDM4LjQ1IDMyaDYuOTQ1ek0xMi42NjUgMCAwIDMyaDcuMDgybDIuNTktNi43MmgxMy4yNWwyLjU5IDYuNzJoNy4wODJMMTkuOTI5IDB6bS0uNzAyIDE5LjMzNyA0LjMzNC0xMS4yNDYgNC4zMzQgMTEuMjQ2eiIvPjwvc3ZnPg=="
        },
        "displayName": "Anthropic Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1163,
        "icon": "fa:database",
        "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Memory"
              ],
              "Memory": [
                "For beginners"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Simple Memory"
        },
        "iconData": {
          "icon": "database",
          "type": "icon"
        },
        "displayName": "Simple Memory",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1304,
        "icon": "file:perplexity.svg",
        "name": "n8n-nodes-base.perplexity",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.perplexity/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/perplexity/"
                }
              ]
            },
            "categories": [
              "Utility"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Perplexity"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iMjcwLjAwMDAwMHB0IiBoZWlnaHQ9IjI3MC4wMDAwMDBwdCIgdmlld0JveD0iMCAwIDI3MC4wMDAwMDAgMjcwLjAwMDAwMCIKIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiPgo8bWV0YWRhdGE+CkNyZWF0ZWQgYnkgcG90cmFjZSAxLjE0LCB3cml0dGVuIGJ5IFBldGVyIFNlbGluZ2VyIDIwMDEtMjAxNwo8L21ldGFkYXRhPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwyNzAuMDAwMDAwKSBzY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIgpmaWxsPSIjMDAwMDAwIiBzdHJva2U9Im5vbmUiPgo8cGF0aCBkPSJNMTg1IDI2OTEgYy04NiAtMjEgLTE1OCAtOTMgLTE3NSAtMTc1IC03IC0zNSAtMTAgLTQxNSAtOCAtMTE5NiAzCi0xMjc2IC0yIC0xMTgwIDczIC0xMjUzIDIwIC0yMCA1NCAtNDIgNzQgLTQ5IDUzIC0xOSAyMzQ5IC0xOSAyNDAyIDAgMjAgNyA1NAoyOSA3NCA0OSA3NSA3MyA3MCAtMjMgNzMgMTI1MyAyIDgxNyAtMSAxMTYxIC05IDEyMDAgLTkgNDYgLTE5IDYzIC02NCAxMDYKLTQyIDQxIC02MyA1NCAtMTA0IDYzIC01OSAxMyAtMjI4NCAxNCAtMjMzNiAyeiBtNzg2IC01NDcgbDMxNCAtMjU1IDMgMjU1IDIKMjU2IDYwIDAgNjAgMCAyIC0yNTUgMyAtMjU2IDMxNSAyNTcgMzE1IDI1NyAzIC0yOTIgMiAtMjkxIDEzNSAwIDEzNSAwIDAKLTQ1MCAwIC00NTAgLTEzNSAwIC0xMzUgMCAtMiAtMjk2IC0zIC0yOTUgLTMxMiAyNzUgYy0xNzIgMTUyIC0zMTUgMjc2IC0zMTgKMjc2IC0zIDAgLTUgLTEzMyAtNSAtMjk1IGwwIC0yOTUgLTYwIDAgLTYwIDAgMCAyOTUgYzAgMTYyIC0yIDI5NSAtNSAyOTUgLTMKMCAtMTQ2IC0xMjQgLTMxOCAtMjc2IGwtMzEyIC0yNzYgLTMgMjk2IC0yIDI5NiAtMTM1IDAgLTEzNSAwIDAgNDUwIDAgNDUwCjEzNSAwIDEzNSAwIDAgMjkwIGMwIDE2MCAyIDI5MCA0IDI5MCAyIDAgMTQ1IC0xMTUgMzE3IC0yNTZ6Ii8+CjxwYXRoIGQ9Ik03ODAgMTk4MSBsMCAtMTYxIDIxNSAwIDIxNiAwIC0yMDMgMTUxIGMtMTEyIDg0IC0yMDkgMTU2IC0yMTUgMTYyCi0xMCA3IC0xMyAtMjQgLTEzIC0xNTJ6Ii8+CjxwYXRoIGQ9Ik0xNzA2IDE5ODIgbC0yMTAgLTE1NyAyMDkgLTMgYzExNCAtMSAyMTAgLTEgMjEyIDEgMiAyIDIgNzQgMSAxNjAKbC0zIDE1NiAtMjA5IC0xNTd6Ii8+CjxwYXRoIGQ9Ik01MTAgMTM3MCBsMCAtMzMwIDcwIDAgNzAgMCAwIDg4IDAgODggMzggMzUgYzIwIDIwIDE0NiAxMjcgMjgwIDIzOQoxMzMgMTExIDI0MiAyMDQgMjQyIDIwNiAwIDIgLTE1NyA0IC0zNTAgNCBsLTM1MCAwIDAgLTMzMHoiLz4KPHBhdGggZD0iTTE0OTAgMTY5NiBjMCAtMiAxMjYgLTEwMiAyODAgLTIyMyBsMjgwIC0yMTggMCAtMTA3IDAgLTEwOCA3MCAwIDcwCjAgMCAzMzAgMCAzMzAgLTM1MCAwIGMtMTkyIDAgLTM1MCAtMiAtMzUwIC00eiIvPgo8cGF0aCBkPSJNMTAyOCAxMzkyIGwtMjQ3IC0yMTcgMCAtMjgzIGMtMSAtMjMzIDEgLTI4MiAxMiAtMjc1IDggNCAxMjIgMTA0CjI1NSAyMjIgbDI0MiAyMTQgMCAyNzggYzAgMTU0IC0zIDI3OSAtNyAyNzkgLTUgMCAtMTE5IC05OCAtMjU1IC0yMTh6Ii8+CjxwYXRoIGQ9Ik0xNDEwIDEzMzIgbDAgLTI3OSAyNDIgLTIxNCBjMTMzIC0xMTggMjQ3IC0yMTggMjU1IC0yMjIgMTEgLTcgMTMKNDIgMTIgMjc1IGwwIDI4MyAtMjQ1IDIxNSBjLTEzNSAxMTggLTI0OSAyMTcgLTI1NCAyMTggLTYgMiAtMTAgLTEwMSAtMTAKLTI3NnoiLz4KPC9nPgo8L3N2Zz4K"
        },
        "displayName": "Perplexity",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 7,
            "name": "Utility"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 31,
        "name": "Content Creation"
      },
      {
        "id": 51,
        "name": "Multimodal AI"
      }
    ],
    "image": []
  }
}