public/data/workflows/7521/7521.json
{
  "workflow": {
    "id": 7521,
    "name": "Automated LinkedIn posts with AI-generated content using OpenAI GPT",
    "views": 1163,
    "recentViews": 1,
    "totalViews": 1163,
    "createdAt": "2025-08-17T16:42:00.462Z",
    "description": "# LinkedIn Auto-Post Agent for n8n\n\n🚀 **Automate your LinkedIn presence with AI-powered content generation**\n\nThis n8n workflow automatically generates and publishes engaging LinkedIn posts using OpenAI's GPT models. Perfect for professionals and businesses who want to maintain an active LinkedIn presence without manual effort.\n\n## ✨ Features\n\n- **🤖 AI-Powered Content**: Generate professional LinkedIn posts using OpenAI GPT-3.5-turbo or GPT-4\n- **⏰ Automated Scheduling**: Post content automatically on weekdays at 9 AM (customizable)\n- **🎯 Manual Trigger**: Generate and post content on-demand\n- **🔒 Secure**: All credentials stored securely in n8n's encrypted credential system\n- **📊 Error Handling**: Built-in retry logic and error notifications\n- **🎨 Customizable**: Easily modify prompts, scheduling, and content parameters\n\n## 🏗️ Architecture\n\nThis workflow uses a streamlined 3-node architecture:\n\n```\nSchedule/Manual Trigger → OpenAI Content Generation → LinkedIn Post\n```\n\n### Node Details\n\n1. **Schedule Trigger**: Automatically triggers the workflow (default: weekdays at 9 AM)\n2. **Manual Trigger**: Allows on-demand content generation\n3. **OpenAI Content Generation**: Creates LinkedIn-optimized content using AI\n4. **LinkedIn Post**: Publishes the generated content to LinkedIn\n\n## 📋 Prerequisites\n\n- n8n instance (self-hosted or cloud)\n- OpenAI API account and API key\n- LinkedIn account with API access\n- Basic familiarity with n8n workflows\n\n## 🚀 Quick Start\n\n### 1. Import the Workflow\n\n1. Download the `linkedin-auto-post-agent.json` file\n2. In your n8n instance, go to **Workflows** → **Import from File**\n3. Select the downloaded JSON file\n4. Click **Import**\n\n### 2. Set Up Credentials\n\n#### OpenAI API Credentials\n\n1. Go to **Credentials** in your n8n instance\n2. Click **Create New Credential**\n3. Select **OpenAI**\n4. Enter your OpenAI API key\n5. Name it \"OpenAI API\" and save\n\n#### LinkedIn OAuth2 Credentials\n\n1. Create a LinkedIn App at [LinkedIn Developer Portal](https://developer.linkedin.com/)\n2. Configure OAuth 2.0 settings:\n   - **Redirect URL**: `https://your-n8n-instance.com/rest/oauth2-credential/callback`\n   - **Scopes**: `r_liteprofile`, `w_member_social`\n3. In n8n, create new **LinkedIn OAuth2** credentials\n4. Enter your LinkedIn App's Client ID and Client Secret\n5. Complete the OAuth authorization flow\n\n### 3. Configure the Workflow\n\n1. Open the imported workflow\n2. Click on the **OpenAI Content Generation** node\n3. Select your OpenAI credentials\n4. Customize the content prompt if desired\n5. Click on the **LinkedIn Post** node\n6. Select your LinkedIn OAuth2 credentials\n7. Save the workflow\n\n### 4. Test the Workflow\n\n1. Click the **Manual Trigger** node\n2. Click **Execute Node** to test content generation\n3. Verify the generated content in the LinkedIn node output\n4. Check your LinkedIn profile to confirm the post was published\n\n### 5. Activate Automated Posting\n\n1. Click the **Active** toggle in the top-right corner\n2. The workflow will now run automatically based on the schedule\n\n## ⚙️ Configuration Options\n\n### Scheduling\n\nThe default schedule posts content on weekdays at 9 AM. To modify:\n\n1. Click the **Schedule Trigger** node\n2. Modify the **Cron Expression**: `0 9 * * 1-5`\n   - `0 9 * * 1-5`: Weekdays at 9 AM\n   - `0 12 * * *`: Daily at noon\n   - `0 9 * * 1,3,5`: Monday, Wednesday, Friday at 9 AM\n\n### Content Customization\n\nModify the OpenAI prompt to change content style:\n\n1. Click the **OpenAI Content Generation** node\n2. Edit the **System Message** to adjust tone and style\n3. Modify the **User Message** to change topic focus\n\n#### Example Prompts\n\n**Professional Development Focus**:\n```\nCreate a LinkedIn post about professional growth, skill development, or career advancement. Keep it under 280 characters and include 2-3 relevant hashtags.\n```\n\n**Industry Insights**:\n```\nGenerate a LinkedIn post sharing an industry insight or trend in technology. Make it thought-provoking and include relevant hashtags.\n```\n\n**Motivational Content**:\n```\nWrite an inspiring LinkedIn post about overcoming challenges or achieving goals. Keep it positive and engaging with appropriate hashtags.\n```\n\n### Model Selection\n\nChoose between OpenAI models based on your needs:\n\n- **gpt-3.5-turbo**: Cost-effective, good quality\n- **gpt-4**: Higher quality, more expensive\n- **gpt-4-turbo**: Latest model with improved performance\n\n## 🔧 Advanced Configuration\n\n### Error Handling\n\nThe workflow includes built-in error handling:\n\n- **Retry Logic**: 3 attempts with 1-second delays\n- **Continue on Fail**: Workflow continues even if individual nodes fail\n- **Error Notifications**: Optional email/Slack notifications on failures\n\n### Content Review Workflow (Optional)\n\nTo add manual content review before posting:\n\n1. Add a **Wait** node between OpenAI and LinkedIn nodes\n2. Configure webhook trigger for approval\n3. Add conditional logic based on approval status\n\n### Rate Limiting\n\nTo respect API limits:\n\n- OpenAI: 3 requests per minute (default)\n- LinkedIn: 100 posts per day per user\n- Adjust scheduling frequency accordingly\n\n## 📊 Monitoring and Analytics\n\n### Execution History\n\n1. Go to **Executions** in your n8n instance\n2. Filter by workflow name to see all runs\n3. Click on individual executions to see detailed logs\n\n### Key Metrics to Monitor\n\n- **Success Rate**: Percentage of successful executions\n- **Content Quality**: Review generated posts periodically\n- **API Usage**: Monitor OpenAI token consumption\n- **LinkedIn Engagement**: Track post performance on LinkedIn\n\n## 🛠️ Troubleshooting\n\n### Common Issues\n\n**OpenAI Node Fails**\n- Verify API key is correct and has sufficient credits\n- Check if you've exceeded rate limits\n- Ensure the model name is spelled correctly\n\n**LinkedIn Node Fails**\n- Verify OAuth2 credentials are properly configured\n- Check if LinkedIn app has required permissions\n- Ensure the content doesn't violate LinkedIn's posting policies\n\n**Workflow Doesn't Trigger**\n- Confirm the workflow is marked as \"Active\"\n- Verify the cron expression syntax\n- Check n8n's timezone settings\n\n### Debug Mode\n\n1. Enable **Save Manual Executions** in workflow settings\n2. Run the workflow manually to see detailed execution data\n3. Check each node's input/output data\n\n## 🔒 Security Best Practices\n\n- Store all API keys in n8n's encrypted credential system\n- Regularly rotate API keys (monthly recommended)\n- Use environment variables for sensitive configuration\n- Enable execution logging for audit trails\n- Monitor for unusual API usage patterns\n\n## 📈 Optimization Tips\n\n### Content Quality\n- Review and refine prompts based on output quality\n- A/B test different prompt variations\n- Monitor LinkedIn engagement metrics\n- Adjust posting frequency based on audience response\n\n### Cost Optimization\n- Use gpt-3.5-turbo for cost-effective content generation\n- Set appropriate token limits (200 tokens recommended)\n- Monitor OpenAI usage in your dashboard\n\n### Performance\n- Keep workflows simple with minimal nodes\n- Use appropriate retry settings\n- Monitor execution times and optimize if needed\n\n## 🤝 Contributing\n\nWe welcome contributions to improve this workflow:\n\n1. Fork the repository\n2. Create a feature branch\n3. Make your improvements\n4. Submit a pull request\n\n## 📄 License\n\nThis project is licensed under the MIT License - see the LICENSE file for details.\n\n## 🆘 Support\n\nIf you encounter issues or have questions:\n\n1. Check the troubleshooting section above\n2. Review n8n's official documentation\n3. Join the n8n community forum\n4. Create an issue in this repository\n\n## 🔗 Useful Links\n\n- [n8n Documentation](https://docs.n8n.io/)\n- [OpenAI API Documentation](https://platform.openai.com/docs)\n- [LinkedIn API Documentation](https://docs.microsoft.com/en-us/linkedin/)\n- [n8n Community Forum](https://community.n8n.io/)\n\n---\n\n**Happy Automating! 🚀**\n\n*This workflow helps you maintain a consistent LinkedIn presence while focusing on what matters most - your business and professional growth.*",
    "workflow": {
      "id": "linkedin-auto-post-agent",
      "meta": {
        "instanceId": "linkedin-auto-post-agent",
        "templateCredsSetupCompleted": false
      },
      "name": "LinkedIn Auto-Post Agent",
      "tags": [
        {
          "id": "social-media",
          "name": "Social Media",
          "createdAt": "2024-01-01T00:00:00.000Z",
          "updatedAt": "2024-01-01T00:00:00.000Z"
        },
        {
          "id": "ai-automation",
          "name": "AI Automation",
          "createdAt": "2024-01-01T00:00:00.000Z",
          "updatedAt": "2024-01-01T00:00:00.000Z"
        },
        {
          "id": "linkedin",
          "name": "LinkedIn",
          "createdAt": "2024-01-01T00:00:00.000Z",
          "updatedAt": "2024-01-01T00:00:00.000Z"
        }
      ],
      "nodes": [
        {
          "id": "f6b4c8d0-1234-4567-8901-234567890abc",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            240,
            300
          ],
          "webhookId": "",
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "cronExpression": "0 9 * * 1-5"
                }
              ]
            }
          },
          "typeVersion": 1.1
        },
        {
          "id": "a1b2c3d4-5678-9012-3456-789012345678",
          "name": "OpenAI Content Generation",
          "type": "n8n-nodes-base.openAi",
          "position": [
            460,
            300
          ],
          "parameters": {
            "model": "gpt-3.5-turbo",
            "prompt": "You are a professional LinkedIn content creator. Generate an engaging, professional post that is 150-300 characters long with relevant hashtags. Focus on industry insights, professional development, or thought leadership topics.\n\nCreate a LinkedIn post about professional growth and continuous learning in the tech industry. Make it inspiring and include 2-3 relevant hashtags.",
            "options": {
              "topP": 1,
              "maxTokens": 200,
              "temperature": 0.7
            },
            "operation": "complete"
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "retryOnFail": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetween": 1000
          },
          "typeVersion": 1,
          "continueOnFail": true
        },
        {
          "id": "e5f6g7h8-9012-3456-7890-123456789012",
          "name": "LinkedIn Post",
          "type": "n8n-nodes-base.linkedIn",
          "position": [
            680,
            300
          ],
          "parameters": {
            "text": "={{ $json.choices[0].text }}",
            "resource": "post",
            "operation": "create",
            "additionalFields": {
              "visibility": "public"
            }
          },
          "credentials": {
            "linkedInOAuth2Api": {
              "id": "credential-id",
              "name": "linkedInOAuth2Api Credential"
            }
          },
          "retryOnFail": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetween": 1000
          },
          "typeVersion": 1,
          "continueOnFail": true
        },
        {
          "id": "m7n8o9p0-1234-5678-9012-345678901234",
          "name": "Manual Trigger",
          "type": "n8n-nodes-base.manualTrigger",
          "position": [
            240,
            180
          ],
          "parameters": {
            "options": {}
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "settings": {
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": {
          "enabled": false
        },
        "executionOrder": "v1",
        "saveManualExecutions": true
      },
      "versionId": "1.0.0",
      "connections": {
        "Manual Trigger": {
          "main": [
            [
              {
                "node": "OpenAI Content Generation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "OpenAI Content Generation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI Content Generation": {
          "main": [
            [
              {
                "node": "LinkedIn Post",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 29,
    "workflowInfo": {
      "nodeCount": 4,
      "nodeTypes": {
        "n8n-nodes-base.openAi": {
          "count": 1
        },
        "n8n-nodes-base.linkedIn": {
          "count": 1
        },
        "n8n-nodes-base.manualTrigger": {
          "count": 1
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        }
      }
    },
    "status": "published",
    "user": {
      "name": "Wevanta Infotech",
      "username": "wevantainfotech",
      "bio": "",
      "verified": false,
      "links": [],
      "avatar": "https://gravatar.com/avatar/435685616e5df8d87003ecb93f503eccfeb4f26e711ab9c828865a980611309c?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 367,
        "icon": "file:linkedin.svg",
        "name": "n8n-nodes-base.linkedIn",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.linkedin/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/linkedin/"
                }
              ]
            },
            "categories": [
              "Marketing",
              "Communication"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "LinkedIn"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjcgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9IjEiIHk9IjEiLz48c3ltYm9sIGlkPSJhIiBvdmVyZmxvdz0idmlzaWJsZSI+PGcgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiPjxwYXRoIGZpbGw9IiMwMTc3YjUiIGQ9Ik01OS4yNiAwSDQuNzI0QzIuMTIgMCAwIDIuMDY2IDAgNC42MXY1NC43ODhjMCAyLjUzIDIuMTIgNC42IDQuNzI0IDQuNmg1NC41NGMyLjYxIDAgNC43MzYtMi4wNyA0LjczNi00LjZWNC42MUM2NCAyLjA2NiA2MS44NzQgMCA1OS4yNiAwIi8+PHBhdGggZD0iTTkuNDkgMjMuOTkySDE5djMwLjU0SDkuNDl6bTQuNzQ4LTE1LjJjMy4wMzQgMCA1LjUgMi40NjYgNS41IDUuNWE1LjUxIDUuNTEgMCAwIDEtNS40OTggNS41MDYgNS41MiA1LjUyIDAgMCAxLTUuNTA4LTUuNTA2IDUuNSA1LjUgMCAwIDEgNS41MDYtNS41bTEwLjcgMTUuMmg5LjEwNHY0LjE3NGguMTI2YzEuMjY4LTIuNCA0LjM2NC00LjkzMiA5LTQuOTMyIDkuNjEyIDAgMTEuMzg2IDYuMzI2IDExLjM4NiAxNC41NDh2MTYuNzUyaC05LjQ4NlYzOS42NzhjMC0zLjU0LS4wNjQtOC4xLTQuOTMyLTguMS00Ljk0IDAtNS43IDMuODYtNS43IDcuODR2MTUuMTA4aC05LjQ4NHYtMzAuNTR6Ii8+PC9nPjwvc3ltYm9sPjwvc3ZnPg=="
        },
        "displayName": "LinkedIn",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 27,
            "name": "Marketing"
          }
        ]
      },
      {
        "id": 838,
        "icon": "fa:mouse-pointer",
        "name": "n8n-nodes-base.manualTrigger",
        "codex": {
          "data": {
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "When clicking ‘Execute workflow’",
          "color": "#909298"
        },
        "iconData": {
          "icon": "mouse-pointer",
          "type": "icon"
        },
        "displayName": "Manual Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 840,
        "icon": "file:openAi.svg",
        "name": "n8n-nodes-base.openAi",
        "codex": {
          "data": {
            "alias": [
              "ChatGPT",
              "DallE"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.openai/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/openai/"
                }
              ]
            },
            "categories": [
              "Utility"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMjYwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZD0iTTIzOS4xODQgMTA2LjIwM2E2NC43MiA2NC43MiAwIDAgMC01LjU3Ni01My4xMDNDMjE5LjQ1MiAyOC40NTkgMTkxIDE1Ljc4NCAxNjMuMjEzIDIxLjc0QTY1LjU4NiA2NS41ODYgMCAwIDAgNTIuMDk2IDQ1LjIyYTY0LjcyIDY0LjcyIDAgMCAwLTQzLjIzIDMxLjM2Yy0xNC4zMSAyNC42MDItMTEuMDYxIDU1LjYzNCA4LjAzMyA3Ni43NGE2NC42NyA2NC42NyAwIDAgMCA1LjUyNSA1My4xMDJjMTQuMTc0IDI0LjY1IDQyLjY0NCAzNy4zMjQgNzAuNDQ2IDMxLjM2YTY0LjcyIDY0LjcyIDAgMCAwIDQ4Ljc1NCAyMS43NDRjMjguNDgxLjAyNSA1My43MTQtMTguMzYxIDYyLjQxNC00NS40ODFhNjQuNzcgNjQuNzcgMCAwIDAgNDMuMjI5LTMxLjM2YzE0LjEzNy0yNC41NTggMTAuODc1LTU1LjQyMy04LjA4My03Ni40ODNtLTk3LjU2IDEzNi4zMzhhNDguNCA0OC40IDAgMCAxLTMxLjEwNS0xMS4yNTVsMS41MzUtLjg3IDUxLjY3LTI5LjgyNWE4LjYgOC42IDAgMCAwIDQuMjQ3LTcuMzY3di03Mi44NWwyMS44NDUgMTIuNjM2Yy4yMTguMTExLjM3LjMyLjQwOS41NjN2NjAuMzY3Yy0uMDU2IDI2LjgxOC0yMS43ODMgNDguNTQ1LTQ4LjYwMSA0OC42MDFNMzcuMTU4IDE5Ny45M2E0OC4zNSA0OC4zNSAwIDAgMS01Ljc4MS0zMi41ODlsMS41MzQuOTIxIDUxLjcyMiAyOS44MjZhOC4zNCA4LjM0IDAgMCAwIDguNDQxIDBsNjMuMTgxLTM2LjQyNXYyNS4yMjFhLjg3Ljg3IDAgMCAxLS4zNTguNjY1bC01Mi4zMzUgMzAuMTg0Yy0yMy4yNTcgMTMuMzk4LTUyLjk3IDUuNDMxLTY2LjQwNC0xNy44MDNNMjMuNTQ5IDg1LjM4YTQ4LjUgNDguNSAwIDAgMSAyNS41OC0yMS4zMzN2NjEuMzlhOC4yOSA4LjI5IDAgMCAwIDQuMTk1IDcuMzE2bDYyLjg3NCAzNi4yNzItMjEuODQ1IDEyLjYzNmEuODIuODIgMCAwIDEtLjc2NyAwTDQxLjM1MyAxNTEuNTNjLTIzLjIxMS0xMy40NTQtMzEuMTcxLTQzLjE0NC0xNy44MDQtNjYuNDA1em0xNzkuNDY2IDQxLjY5NS02My4wOC0zNi42M0wxNjEuNzMgNzcuODZhLjgyLjgyIDAgMCAxIC43NjggMGw1Mi4yMzMgMzAuMTg0YTQ4LjYgNDguNiAwIDAgMS03LjMxNiA4Ny42MzV2LTYxLjM5MWE4LjU0IDguNTQgMCAwIDAtNC40LTcuMjEzbTIxLjc0Mi0zMi42OS0xLjUzNS0uOTIyLTUxLjYxOS0zMC4wODFhOC4zOSA4LjM5IDAgMCAwLTguNDkyIDBMOTkuOTggOTkuODA4Vjc0LjU4N2EuNzIuNzIgMCAwIDEgLjMwNy0uNjY1bDUyLjIzMy0zMC4xMzNhNDguNjUyIDQ4LjY1MiAwIDAgMSA3Mi4yMzYgNTAuMzkxek04OC4wNjEgMTM5LjA5N2wtMjEuODQ1LTEyLjU4NWEuODcuODcgMCAwIDEtLjQxLS42MTRWNjUuNjg1YTQ4LjY1MiA0OC42NTIgMCAwIDEgNzkuNzU3LTM3LjM0NmwtMS41MzUuODctNTEuNjcgMjkuODI1YTguNiA4LjYgMCAwIDAtNC4yNDYgNy4zNjd6bTExLjg2OC0yNS41OEwxMjguMDY3IDk3LjNsMjguMTg4IDE2LjIxOHYzMi40MzRsLTI4LjA4NiAxNi4yMTgtMjguMTg4LTE2LjIxOHoiLz48L3N2Zz4="
        },
        "displayName": "OpenAI",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 7,
            "name": "Utility"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 51,
        "name": "Multimodal AI"
      }
    ],
    "image": []
  }
}