backup_data/workflows/8569/8569.json
{
  "workflow": {
    "id": 8569,
    "name": "Automated multi-agent trading analysis with GPT-5, Telegram, Coinbase & Notion",
    "views": 2179,
    "recentViews": 2,
    "totalViews": 2179,
    "createdAt": "2025-09-14T06:13:50.437Z",
    "description": "## 🚀 Overview  \nThis modern n8n workflow implements a **multi-agent trading engine** that orchestrates valuation, sentiment, fundamentals, technicals, and macro analyses to generate a single portfolio action with built-in risk controls. It integrates Telegram for live commands, fetches market data, fans out to expert LLM agents, applies position limits via a Risk Manager, executes orders, logs to Notion, and sends a summary back to Telegram.  \n\n## 🔧 What It Does  \n- **Telegram Trigger** listens for ticker commands and context inputs 📲  \n- **Market Data Node** fetches live prices and exchange rates from an API (no hardcoded keys) 🔗  \n- **LLM Agents** run parallel analyses: valuation, sentiment, macro, fundamentals, technicals 🌐  \n- **Risk Manager** enforces max position sizes, stop-loss limits, and confidence thresholds ⚖️  \n- **Portfolio Manager** aggregates signals into a final BUY/SELL/HOLD decision with allocation % 📊  \n- **Execute Order** sends trade requests via HTTP Request 🔒  \n- **Log to Notion** writes a full audit trail for compliance 📓  \n- **Telegram Output** posts a concise report with signals, risk notes, and final decision 📤  \n\n## 💡 Why It’s Useful  \nThis template illustrates a **modular “investment committee”** architecture that is easy to extend, swap agents, and maintain. It follows n8n’s best practices for template submissions: sticky-note documentation, placeholder credentials, markdown descriptions, and clear H2 headings.  \n\n## 🔑 Prerequisites  \n- Telegram Bot credentials configured in n8n  \n- Exchange or data API credentials stored as n8n Credentials (no inline keys)  \n- OpenAI (or other LLM) API credential  \n- Notion integration credentials  \n\n## 🛠️ How to Use  \n1. Import the JSON into n8n and open the canvas.  \n2. Read each **Sticky Note** for node-by-node setup tips and rate-limit guidance 🗒️  \n3. Configure credentials via the n8n Credentials Manager 🔐  \n4. Test each branch (data fetch, agents, risk logic) in isolation before enabling order execution ✅  \n\n## 📐 Architecture Layers  \n- **Trigger**: Telegram Trigger →  \n- **Data**: HTTP Request →  \n- **Analysis**: Parallel LLM Agents →  \n- **Risk**: Risk Manager →  \n- **Decision**: Portfolio Manager →  \n- **Action**: Execute Order, Log to Notion, Send Telegram summary  \n\n## 🔒 Security & Maintenance  \nAll API keys are stored securely as credentials. Sticky Notes document required scopes, retry strategies, and error-handling paths to ensure observability and safe testing.  \n\nEnjoy building and customizing your own AI-powered hedge-fund workflow!",
    "workflow": {
      "id": "eEX0exKxcdUYolNH",
      "meta": {
        "instanceId": "b14f5dd921befc4584084cc386aea593f73c7c2b00b50933075d7967a4d1c502",
        "templateCredsSetupCompleted": true
      },
      "name": "Hedge Fund Multi-Agent Trading System + GPT 5",
      "tags": [],
      "nodes": [
        {
          "id": "0d5ffebd-9109-44e2-b4b5-5641518f2655",
          "name": "Telegram Trigger",
          "type": "n8n-nodes-base.telegramTrigger",
          "position": [
            -976,
            240
          ],
          "webhookId": "96c23cf5-c4b5-4db5-8753-d9d95f2b925e",
          "parameters": {
            "updates": [
              "callback_query",
              "channel_post",
              "message"
            ],
            "additionalFields": {}
          },
          "credentials": {
            "telegramApi": {
              "id": "credential-id",
              "name": "telegramApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "c5e8ba12-d85d-4550-b7f2-ddc64ec56a00",
          "name": "Valuation Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -64,
            480
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are a Senior Valuation Analyst with expertise in DCF modeling, comparable company analysis, and precedent transactions.\n\n## Task\nPerform comprehensive valuation analysis using multiple methodologies to determine fair value.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Financial Data: {{$json.financials}}\n- Free Cash Flow: {{$json.fcf}}\n- Revenue Growth: {{$json.revenue_growth}}\n- EBITDA Margin: {{$json.ebitda_margin}}\n- WACC: {{$json.wacc}}\n- Industry Multiples: {{$json.industry_multiples}}\n\n## Valuation Methods\n1. **Discounted Cash Flow (DCF)**:\n   - Project 5-year free cash flows\n   - Apply appropriate discount rate (WACC)\n   - Calculate terminal value\n   - Sum to present value\n\n2. **Comparable Company Analysis**:\n   - Use industry P/E, EV/EBITDA, P/S multiples\n   - Apply to company metrics\n   - Adjust for size, growth, profitability differences\n\n3. **Asset-Based Valuation**:\n   - Book value adjustments\n   - Liquidation value if applicable\n\n## Analysis Rules\n- Weight different methods based on business model\n- Consider business cycle and growth stage\n- Adjust for company-specific risks\n- Provide confidence intervals for estimates\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "b6e85d42-4aeb-49d8-bdf9-d89fca650887",
          "name": "Sentiment Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -480,
            480
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are a Market Sentiment Analyst specializing in social media sentiment, news analysis, and market psychology indicators.\n\n## Task\nAnalyze market sentiment from multiple sources to gauge investor psychology and potential price catalysts.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- News Headlines: {{$json.news_data}}\n- Social Media Data: {{$json.social_data}}\n- Reddit/Twitter Mentions: {{$json.social_mentions}}\n- Insider Trading: {{$json.insider_activity}}\n- Analyst Upgrades/Downgrades: {{$json.analyst_changes}}\n\n## Sentiment Sources Analysis\n1. **News Sentiment**: Analyze headline tone and content\n2. **Social Media Sentiment**: Twitter/X mentions, Reddit discussions\n3. **Market Psychology**: Put/call ratios, insider patterns\n4. **Search Trends**: Google Trends, retail interest\n\n## Analysis Rules\n- Weight recent data more heavily\n- Distinguish between noise and signal\n- Consider contrarian indicators\n- Factor in market-wide vs asset-specific sentiment\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "3352fbca-e34c-4687-af0d-45a4465cb6f6",
          "name": "Risk Manager",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -48,
            256
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are the Chief Risk Officer responsible for portfolio risk management and position sizing.\n\n## Task\nAssess risk parameters and set appropriate limits based on all agent signals and market conditions.\n\n## Context\n- Portfolio: {{$json.current_portfolio}}\n- Agent Signals: {{$json.all_agent_signals}}  \n- Market Volatility: {{$json.vix_level}}\n- Correlation Matrix: {{$json.correlations}}\n\n## Rules\n- Never exceed 5% position size for any single asset\n- Consider portfolio correlation and concentration risk\n- Adjust position sizes based on volatility and confidence levels\n- Implement dynamic stop-loss levels\n\n## Output Format\n{\n  \"max_position_size\": number (0-0.05),\n  \"stop_loss_level\": number (0-0.10),\n  \"risk_score\": number (1-10),\n  \"portfolio_impact\": \"LOW\" | \"MEDIUM\" | \"HIGH\",\n  \"risk_notes\": \"string (max 100 words)\",\n  \"approved\": boolean\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "42ebdb7c-bbf1-4adb-869c-1b67c16ad00d",
          "name": "Portfolio Manager",
          "type": "n8n-nodes-base.openAi",
          "position": [
            160,
            256
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are the Chief Portfolio Manager responsible for making final investment decisions by synthesizing all agent analyses and managing overall portfolio risk.\n\n## Task\nAggregate all agent signals, apply portfolio-level constraints, and make final trading decisions with appropriate position sizing.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Current Portfolio: {{$json.portfolio}}\n- Available Cash: {{$json.available_cash}}\n- Agent Signals: {{$json.agent_signals}}\n- Risk Manager Assessment: {{$json.risk_assessment}}\n\nAgent Inputs:\n- Buffett Agent: {{$json.buffett_signal}}\n- Graham Agent: {{$json.graham_signal}}\n- Valuation Agent: {{$json.valuation_signal}}\n- Sentiment Agent: {{$json.sentiment_signal}}\n- Risk Manager: {{$json.risk_limits}}\n\n## Decision Framework\n1. **Signal Aggregation**: Weight agents by historical accuracy\n2. **Portfolio Considerations**: Position limits, diversification\n3. **Risk Management**: Respect Risk Manager limits\n\n## Decision Rules\n- **BUY**: Majority of agents bullish (≥60%) AND Risk Manager approval\n- **SELL**: Majority of agents bearish (≥60%) OR Risk Manager override\n- **HOLD**: Mixed signals or insufficient conviction\n- Never exceed Risk Manager position limits\n- Minimum confidence threshold: 0.6\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "c288e54a-5a48-4faf-aa58-485744396484",
          "name": "Coinbase Market Data",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            -784,
            240
          ],
          "parameters": {
            "url": "https://api.coinbase.com/v2/exchange-rates?currency={{$json.ticker}}",
            "options": {},
            "authentication": "headerAuth"
          },
          "credentials": {
            "httpHeaderAuth": {
              "id": "credential-id",
              "name": "httpHeaderAuth Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "a2890344-0d07-4b6b-bd6f-e49287122168",
          "name": "Execute Order",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            496,
            256
          ],
          "parameters": {
            "url": "https://api.coinbase.com/v2/accounts/{{$json.account_id}}/transactions",
            "options": {},
            "requestMethod": "POST",
            "authentication": "headerAuth"
          },
          "credentials": {
            "httpHeaderAuth": {
              "id": "credential-id",
              "name": "httpHeaderAuth Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "69329e65-9281-48e9-84b1-8bbf3f250974",
          "name": "Log to Notion",
          "type": "n8n-nodes-base.notion",
          "position": [
            496,
            480
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "databaseId": "trading_log_database_id"
          },
          "credentials": {
            "notionApi": {
              "id": "credential-id",
              "name": "notionApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "aa6c1fd0-1421-439f-8a01-c424145a29eb",
          "name": "Send Analysis Result",
          "type": "n8n-nodes-base.telegram",
          "position": [
            496,
            64
          ],
          "webhookId": "d535c3ae-489b-4d6d-a985-caf0facb05bc",
          "parameters": {
            "text": "🤖 **Hedge Fund Analysis Complete**\n\n📊 Asset: {{$json.ticker}}\n💰 Price: ${{$json.price}}\n\n🏛️ **Agent Signals:**\n{{$json.agent_summary}}\n\n⚖️ **Risk Assessment:**\n{{$json.risk_notes}}\n\n🎯 **Final Decision:** {{$json.final_decision}}\n📈 **Allocation:** {{$json.allocation}}%\n\n📝 Analysis logged to Notion",
            "chatId": "{{$json.chat_id}}",
            "additionalFields": {}
          },
          "credentials": {
            "telegramApi": {
              "id": "credential-id",
              "name": "telegramApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "43455eab-c562-4ca9-bfc5-31e7ffbba802",
          "name": "Stanley Druckenmiller Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -64,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Stanley Druckenmiller, a legendary macro investor known for asymmetric trades and global macro analysis.\n\n## Task\nAnalyze macro conditions and market sentiment for the given asset. \nIdentify asymmetric opportunities driven by global events, interest rates, central bank policy, geopolitical risks, commodity cycles, and liquidity.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Macro Data: {{$json.macro_data}}\n- Economic Indicators: {{$json.economic_indicators}}\n- Sentiment Data: {{$json.sentiment_data}}\n- Interest Rate: {{$json.interest_rate}}\n- Central Bank Policy: {{$json.cb_policy}}\n- Volatility Index: {{$json.vix}}\n- News Summary: {{$json.news}}\n\n## Rules\n- Focus on macro trends, regime shifts, and major catalysts\n- Prioritize asymmetric risk/reward setups\n- Consider liquidity, leverage, and correlation risk\n- Highlight how macro changes impact asset price\n\n## Output Format (JSON)\n{\n  \"macro_thesis\": \"string (max 80 words)\",\n  \"asymmetric_opportunity\": \"boolean\",\n  \"risk_reward\": \"string (LOW|MEDIUM|HIGH)\",\n  \"major_catalysts\": \"string (max 60 words)\",\n  \"signal\": \"BUY|HOLD|SELL\",\n  \"confidence\": \"number (0-1)\",\n  \"reasoning\": \"string (max 120 words)\"\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "a08eb8be-6ef6-4e61-bcb1-0510b7dca5e3",
          "name": "Rakesh Jhunjhunwala Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            144,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Rakesh Jhunjhunwala, India's legendary 'Big Bull'. You focus on long-term bullish trends in India and emerging markets.\n\n## Task\nAssess big-picture macro trends, consumption growth, policy changes, and sectoral momentum in emerging markets for this asset.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Macro Data: {{$json.macro_data}}\n- Sector/Industry: {{$json.sector}}\n- Policy Updates: {{$json.policy_data}}\n- Consumption Trends: {{$json.consumption}}\n- GDP Growth: {{$json.gdp_growth}}\n- Market Depth: {{$json.market_depth}}\n\n## Rules\n- Focus on multiyear macro/sector drivers\n- Show conviction when opportunity exists\n- Seek out disruptive policies, reforms, or tailwinds\n\n## Output Format (JSON)\n{\n  \"macro_bull_bear_view\": \"BULLISH|NEUTRAL|BEARISH\",\n  \"sector_strength\": \"string (max 48 words)\",\n  \"key_drivers\": \"string (max 48 words)\",\n  \"risk_factors\": \"string (max 40 words)\",\n  \"signal\": \"BUY|HOLD|SELL\",\n  \"confidence\": \"number (0-1)\",\n  \"reasoning\": \"string (max 100 words)\"\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "fb6f6103-487d-46fb-91d4-30aeced11897",
          "name": "Phil Fisher Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            320,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Phil Fisher, author of \"Common Stocks and Uncommon Profits,\" famous for 'scuttlebutt' research and identifying long-term compounders.\n\n## Task\nEvaluate management quality, growth culture, community sentiment, and product adoption for the asset.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Community Data: {{$json.social_data}}\n- Adoption Data: {{$json.adoption_data}}\n- Management Assessment: {{$json.management_data}}\n- Earnings Growth: {{$json.earnings_growth}}\n- Customer Reviews: {{$json.customer_reviews}}\n\n## Rules\n- Use qualitative insights from community, competitors, and supply chain\n- Focus on management integrity and growth mentality\n- Identify companies with unique advantages and scalable models\n\n## Output Format (JSON)\n{\n  \"long_term_growth_insight\": \"string (max 60 words)\",\n  \"management_quality\": \"POOR|AVERAGE|GOOD|EXCELLENT\",\n  \"community_sentiment\": \"NEGATIVE|MIXED|POSITIVE\",\n  \"adoption_trend\": \"IMPROVING|STABLE|DECLINING\",\n  \"signal\": \"LONG_TERM_BUY|HOLD|AVOID\",\n  \"confidence\": \"number (0-1)\",\n  \"reasoning\": \"string (max 100 words)\"\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "f7007df8-48bd-47a5-a956-ee0c9a95712d",
          "name": "Peter Lynch Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            496,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Peter Lynch, legendary investor and author of \"One Up on Wall Street.\" You find everyday businesses that can compound into ten-baggers.\n\n## Task\nLook for simple companies with strong growth from everyday adoption, scalable business models, and clear trends.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Adoption Trends: {{$json.trend_data}}\n- Product Popularity: {{$json.product_popularity}}\n- Expansion Plans: {{$json.expansion_data}}\n- Growth Story: {{$json.growth_story}}\n\n## Rules\n- Focus on relatable businesses people use daily\n- Identify large addressable markets and simple moats\n- Use plain language to describe growth story\n\n## Output Format (JSON)\n{\n  \"ten_bagger_potential\": \"boolean\",\n  \"adoption_potential\": \"string (max 60 words)\",\n  \"growth_story\": \"string (max 60 words)\",\n  \"moat_type\": \"NONE|WEAK|STRONG\",\n  \"signal\": \"BUY|HOLD|AVOID\",\n  \"confidence\": \"number (0-1)\",\n  \"reasoning\": \"string (max 100 words)\"\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "8b778986-4bb5-4427-a5bf-b971363d3db5",
          "name": "Mohnish Pabrai Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -672,
            32
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Mohnish Pabrai, the 'Dhandho' investor, famous for minimum risk and maximum upside bets.\n\n## Task\nIdentify low-risk, high-reward opportunities (\"Heads I win, tails I don’t lose much\"). Focus on simple businesses, strong downside protection, and asymmetric payoffs.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Risk Data: {{$json.risk_data}}\n- Price: {{$json.price}}\n- Expected Upside: {{$json.expected_upside}}\n- Downside: {{$json.max_drawdown}}\n- Payoff Probability: {{$json.probability}}\n- Business Simplicity: {{$json.simplicity}}\n- Industry: {{$json.industry}}\n\n## Rules\n- Quantify asymmetric upside vs downside\n- Prefer simple businesses with low risk and easy-to-understand upside\n- Use probability weighting for payoff\n\n## Output Format (JSON)\n{\n  \"asymmetric_upside\": \"YES|NO\",\n  \"risk_reward_ratio\": \"number\",\n  \"business_simplicity\": \"HIGH|MEDIUM|LOW\",\n  \"signal\": \"BUY|HOLD|AVOID\",\n  \"confidence\": \"number (0-1)\",\n  \"reasoning\": \"string (max 100 words)\"\n}\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "080331be-507a-42e1-8188-fdbaacd396e2",
          "name": "Michael Burry Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -480,
            32
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Michael Burry, founder of Scion Capital, famous for predicting the 2008 subprime mortgage crisis and contrarian value investing.\n\n## Investment Philosophy\n- Look for deep value opportunities that others ignore or misunderstand\n- Identify market bubbles and systematic risks\n- Focus on contrarian positions with asymmetric payoffs\n- Perform intensive fundamental analysis\n- Have patience for long-term value realization\n\n## Task\nAnalyze the provided asset for hidden risks, bubble indicators, contrarian opportunities, and deep value potential.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Sentiment Data: {{$json.sentiment_data}}\n- Market Valuation Metrics: {{$json.market_metrics}}\n- Sector Trends: {{$json.sector_trends}}\n- Financial Health: {{$json.financial_health}}\n\n## Analysis Rules\n1. **Bubble Detection**: Look for excessive valuations vs fundamentals\n2. **Hidden Risk Assessment**: Examine off-balance sheet liabilities\n3. **Contrarian Opportunities**: Find oversold quality assets\n4. **Deep Value Analysis**: Calculate liquidation value vs market price\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "045ed430-a4d0-4d39-9bb9-8a3b6074150d",
          "name": "Charlie Munger Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -288,
            32
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Charlie Munger, Vice Chairman of Berkshire Hathaway and Warren Buffett's longtime partner, known for multidisciplinary thinking and quality-focused investing.\n\n## Investment Philosophy\n- Seek wonderful businesses at fair prices\n- Focus on companies with strong competitive moats\n- Apply multidisciplinary mental models\n- Avoid complexity and stick to competence circle\n- Emphasize quality management and corporate governance\n- Think in terms of decades, not quarters\n\n## Task\nEvaluate the business quality, competitive moats, management excellence, and fair pricing of the provided asset.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Business Model: {{$json.business_model}}\n- Competitive Position: {{$json.competitive_position}}\n- Management Quality: {{$json.management_quality}}\n- Financial Metrics: {{$json.financials}}\n\n## Analysis Framework\n1. **Business Quality Assessment**: Evaluate predictability and stability\n2. **Competitive Moat Analysis**: Network effects, switching costs, brand strength\n3. **Management Excellence**: Capital allocation track record\n4. **Valuation Discipline**: Pay reasonable prices for quality\n\n## Mental Models to Apply\n- Circle of competence\n- Scale economies\n- Network effects\n- Switching costs\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "f4593ee7-3279-4e88-8853-a7ad291864b9",
          "name": "Bill Ackman Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -64,
            32
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Bill Ackman, founder of Pershing Square Capital Management, known for activist investing and bold concentrated positions.\n\n## Investment Philosophy\n- Take concentrated positions in high-quality businesses\n- Engage with management to unlock shareholder value\n- Focus on businesses with strong franchises and pricing power\n- Hold positions for long periods (3-7 years)\n- Target companies with catalyst potential for value creation\n- Not afraid to take contrarian positions\n\n## Task\nIdentify activist opportunities, value creation catalysts, and assess management engagement potential for the provided asset.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Market Cap: {{$json.market_cap}}\n- Management Team: {{$json.management_info}}\n- Corporate Governance: {{$json.governance_data}}\n- Recent News: {{$json.news_sentiment}}\n\n## Analysis Framework\n1. **Activist Opportunity Assessment**: Identify underperforming business units\n2. **Value Creation Catalysts**: Management changes, operational improvements\n3. **Engagement Feasibility**: Board composition and shareholder structure\n4. **Risk vs Reward Assessment**: Time horizon and execution complexity\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "4fb10403-f034-48bb-a259-ab41a1b0382e",
          "name": "Aswath Damodaran Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -672,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Aswath Damodaran, the Dean of Valuation at NYU Stern School of Business.\n\n## Task  \nAnalyze the provided asset using your disciplined valuation methodology that combines story with numbers.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}  \n- Current Price: ${{$json.price}}\n- Fundamentals: {{$json.fundamentals}}\n- Market Cap: {{$json.market_cap}}\n\n## Rules\n- Focus on intrinsic value calculation using DCF or relative valuation\n- Consider the narrative/story behind the numbers\n- Be skeptical of market pricing efficiency\n- Provide quantitative backing for all claims\n\n## Output Format\nRespond with structured JSON:\n{\n  \"narrative\": \"string (max 100 words)\",\n  \"intrinsic_value\": number,\n  \"current_price\": number, \n  \"mispricing\": \"OVERVALUED\" | \"UNDERVALUED\" | \"FAIR\",\n  \"confidence\": number (0-1),\n  \"signal\": \"BUY\" | \"HOLD\" | \"SELL\",\n  \"reasoning\": \"string (max 150 words)\"\n}\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "b695cd58-5497-42d3-b475-2373e1cde8a6",
          "name": "Ben Graham Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -288,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Benjamin Graham, known as the \"Father of Value Investing\" and author of \"The Intelligent Investor\" and \"Security Analysis\".\n\n## Investment Philosophy\n- Only invest in securities selling substantially below their intrinsic value\n- Demand a significant margin of safety (minimum 30-50%)\n- Focus on quantitative criteria over qualitative factors\n- Prefer tangible book value over intangible assets\n- Look for companies with strong financial position and consistent earnings\n\n## Task\nAnalyze the provided asset using your disciplined value investing methodology focused on margin of safety and hidden gems.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Current Price: ${{$json.price}}\n- Book Value per Share: {{$json.book_value}}\n- Earnings per Share: {{$json.eps}}\n- P/E Ratio: {{$json.pe_ratio}}\n- Debt-to-Equity: {{$json.debt_equity}}\n- Current Ratio: {{$json.current_ratio}}\n- Working Capital: {{$json.working_capital}}\n\n## Analysis Rules\n1. Calculate intrinsic value using multiple methods:\n   - Net Current Asset Value (NCAV) method\n   - Earnings-based valuation (10-15x sustainable earnings)\n   - Book value adjustments for quality\n2. Require minimum 30% margin of safety for any BUY recommendation\n3. Prefer companies trading below 2/3 of net current assets\n4. Avoid companies with excessive debt (D/E > 0.5)\n5. Look for consistent earnings over 5+ years\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "f109a72d-30ea-497f-b6f4-a81b5d35fc0d",
          "name": "Warren Buffett Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -480,
            -144
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Warren Buffett, Chairman and CEO of Berkshire Hathaway, known as the Oracle of Omaha.\n\n## Task\nEvaluate this investment opportunity using your value investing principles focused on wonderful businesses at fair prices.\n\n## Context  \n- Asset: {{$json.ticker}}\n- Fundamentals: {{$json.fundamentals}}\n- Price: ${{$json.price}}\n- Industry: {{$json.sector}}\n\n## Rules\n- Only recommend businesses you can understand\n- Look for strong economic moats and durable competitive advantages  \n- Consider management quality and capital allocation\n- Think long-term (10+ years)\n- Price must provide adequate margin of safety\n\n## Output Format\n{\n  \"moat_strength\": \"NONE\" | \"NARROW\" | \"WIDE\",\n  \"business_quality\": \"POOR\" | \"AVERAGE\" | \"EXCELLENT\", \n  \"management_assessment\": \"string (max 80 words)\",\n  \"fair_value_estimate\": number,\n  \"margin_of_safety\": number,\n  \"signal\": \"BUY\" | \"HOLD\" | \"AVOID\",\n  \"confidence\": number (0-1),\n  \"hold_period\": \"SHORT\" | \"MEDIUM\" | \"LONG\"\n}\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "84d04fd4-2c90-4119-8ea4-0a4f01fb3fe4",
          "name": "Cathie Wood  Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            144,
            32
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are Cathie Wood, founder and CIO of ARK Invest, renowned for investing in disruptive innovation and exponential growth companies.\n\n## Investment Philosophy\n- Seek companies at the forefront of disruptive technologies\n- Embrace high-conviction, high-volatility opportunities\n- Focus on long-term 5–10+ year growth horizons\n- Prioritize innovation themes: genomics, AI, robotics, blockchain, energy storage, space\n- Evaluate visionary management teams driving paradigm shifts\n- Accept short-term drawdowns for outsized long-term returns\n\n## Task\nAnalyze the provided asset for its innovation thesis, disruptive potential, and long-term growth case.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Sector/Industry: {{$json.sector}}\n- Current Price: ${{$json.price}}\n- Technology/Innovation Theme: {{$json.theme}}\n- R&D Spend Growth: {{$json.rnd_growth}}\n- Market Adoption Trends: {{$json.adoption_trends}}\n- Competitive Landscape: {{$json.competitors}}\n- Management Vision: {{$json.management_vision}}\n- Regulatory Tailwinds/Headwinds: {{$json.regulatory}}\n\n## Analysis Rules\n1. **Innovation Thesis**: Explain the disruptive technology and its potential market impact\n2. **Growth Drivers**: Identify key adoption and scaling catalysts\n3. **Risk Assessment**: Evaluate execution, regulatory, and market adoption risks\n4. **Valuation Perspective**: Consider long-term optionality over short-term multiples\n5. **Signal Criteria**: Recommend Buy only if long-term innovation potential outweighs risks\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {
              "temperature": 0.3
            },
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "e5e4bbbe-06ce-4bfd-b5be-351ece7d186e",
          "name": "Fundamentals Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -672,
            480
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are the Fundamentals Agent, a seasoned equity analyst specializing in financial statement analysis, ratio interpretation, and corporate health assessment.\n\n## Task\nAnalyze the company’s financials to identify strengths, weaknesses, and key valuation signals.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- Income Statement: {{$json.income_statement}}\n- Balance Sheet: {{$json.balance_sheet}}\n- Cash Flow Statement: {{$json.cash_flow}}\n- Key Metrics: Revenue, EPS, Net Income, Operating Margin, ROE, ROA, Debt Ratios, Current Ratio\n\n## Analysis Rules\n1. Calculate and interpret key ratios:\n   - Profitability: ROE, ROA, Operating Margin\n   - Liquidity: Current Ratio, Quick Ratio\n   - Leverage: Debt/Equity, Interest Coverage\n   - Efficiency: Asset Turnover, Inventory Turnover\n2. Compare ratios to industry benchmarks\n3. Highlight any red flags: declining margins, rising debt, negative cash flow\n4. Identify sustainable growth drivers: revenue trends, margin expansion, cash generation\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "0cea47f7-e829-475a-8056-13841de056dc",
          "name": "Technicals Agent",
          "type": "n8n-nodes-base.openAi",
          "position": [
            -304,
            480
          ],
          "parameters": {
            "model": "gpt-5",
            "prompt": "=# Role\nYou are the Technicals Agent, an expert in chart analysis, momentum indicators, and market structure.\n\n## Task\nAnalyze the price and volume data to determine current trend, momentum shifts, and potential entry/exit signals.\n\n## Context\nInput Data:\n- Asset: {{$json.ticker}}\n- OHLCV Data: {{$json.ohlcv}} (with timestamp, open, high, low, close, volume)\n- Key Parameters: RSI period, MACD fast/slow/signal, Moving average windows\n\n## Analysis Rules\n1. Calculate trend indicators:\n   - Moving Averages: SMA(50), SMA(200), EMA(20)\n   - Trend: Price vs Moving Averages, Golden/Death Cross\n2. Momentum:\n   - RSI(14): overbought/oversold levels\n   - MACD histogram: crossovers\n3. Volume analysis:\n   - Volume spikes vs price moves\n   - Volume moving average\n4. Pattern recognition:\n   - Support & resistance levels\n   - Chart patterns (head & shoulders, flags, triangles)\n\n## Output Format\nRespond with structured JSON:\n",
            "options": {},
            "requestOptions": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "openAiApi Credential"
            }
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "4a31f120-3dd8-444b-8c74-7050fe8225ce",
      "connections": {
        "Risk Manager": {
          "main": [
            [
              {
                "node": "Portfolio Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Sentiment Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Valuation Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Ben Graham Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Technicals Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Telegram Trigger": {
          "main": [
            [
              {
                "node": "Coinbase Market Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Bill Ackman Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Peter Lynch Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Phil Fisher Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Portfolio Manager": {
          "main": [
            [
              {
                "node": "Execute Order",
                "type": "main",
                "index": 0
              },
              {
                "node": "Log to Notion",
                "type": "main",
                "index": 0
              },
              {
                "node": "Send Analysis Result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fundamentals Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Cathie Wood  Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Michael Burry Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Charlie Munger Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Coinbase Market Data": {
          "main": [
            [
              {
                "node": "Aswath Damodaran Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Warren Buffett Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Ben Graham Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Valuation Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Sentiment Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Stanley Druckenmiller Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Rakesh Jhunjhunwala Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Phil Fisher Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Peter Lynch Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Mohnish Pabrai Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Michael Burry Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Charlie Munger Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Bill Ackman Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              },
              {
                "node": "Cathie Wood  Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Fundamentals Agent",
                "type": "main",
                "index": 0
              },
              {
                "node": "Technicals Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Mohnish Pabrai Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Warren Buffett Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Aswath Damodaran Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rakesh Jhunjhunwala Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Stanley Druckenmiller Agent": {
          "main": [
            [
              {
                "node": "Risk Manager",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 23,
      "nodeTypes": {
        "n8n-nodes-base.notion": {
          "count": 1
        },
        "n8n-nodes-base.openAi": {
          "count": 18
        },
        "n8n-nodes-base.telegram": {
          "count": 1
        },
        "n8n-nodes-base.httpRequest": {
          "count": 2
        },
        "n8n-nodes-base.telegramTrigger": {
          "count": 1
        }
      }
    },
    "status": "published",
    "user": {
      "name": "Tegar karunia ilham",
      "username": "tegarkaruniailham",
      "bio": "Developer | Flowgrammer | Promt Engineering | Helping business owners & marketers automate their processes with n8n. Specialist in custom workflows, API integrations, and template development.\n",
      "verified": true,
      "links": [
        "https://x.com/ilhamautomation"
      ],
      "avatar": "https://gravatar.com/avatar/c9c7885830c7dc0a52fd349b4683aea215d91d726b223dc37e5324c98ce5201c?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 49,
        "icon": "file:telegram.svg",
        "name": "n8n-nodes-base.telegram",
        "codex": {
          "data": {
            "alias": [
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                  "icon": "💪",
                  "label": "Using Automation to Boost Productivity in the Workplace"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                  "icon": "💬",
                  "label": "Creating Telegram Bots with n8n, a No-Code Platform"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Telegram"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
        },
        "displayName": "Telegram",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 50,
        "icon": "file:telegram.svg",
        "name": "n8n-nodes-base.telegramTrigger",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                  "icon": "💬",
                  "label": "Creating Telegram Bots with n8n, a No-Code Platform"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
                }
              ]
            },
            "categories": [
              "Communication"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "Telegram Trigger"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
        },
        "displayName": "Telegram Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          }
        ]
      },
      {
        "id": 487,
        "icon": "file:notion.svg",
        "name": "n8n-nodes-base.notion",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.notion/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/notion/"
                }
              ]
            },
            "categories": [
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Notion"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjU4Mjc2IDYuOTc2NzlDOC44MjA0NyA3Ljk4MjM4IDkuMjg0NzkgNy45MDU2NiAxMS42MDkxIDcuNzUwNTdMMzMuNTIwNiA2LjQzNDg4QzMzLjk4NTMgNi40MzQ4OCAzMy41OTg5IDUuOTcxMjcgMzMuNDQzOSA1Ljg5NDIzTDI5LjgwNDkgMy4yNjM0OEMyOS4xMDc2IDIuNzIyMTMgMjguMTc4NiAyLjEwMjE3IDI2LjM5ODIgMi4yNTcyNkw1LjE4MTE1IDMuODA0NzZDNC40MDczNiAzLjg4MTQ4IDQuMjUyODIgNC4yNjgzNyA0LjU2MDk2IDQuNTc4NDdMNy41ODI3NiA2Ljk3Njc5Wk04Ljg5ODI5IDEyLjA4MzNWMzUuMTM4MUM4Ljg5ODI5IDM2LjM3NzEgOS41MTc0NiAzNi44NDA3IDEwLjkxMSAzNi43NjRMMzQuOTkxOSAzNS4zNzA2QzM2LjM4NjIgMzUuMjkzOSAzNi41NDE1IDM0LjQ0MTcgMzYuNTQxNSAzMy40MzUyVjEwLjUzNTFDMzYuNTQxNSA5LjUzMDE5IDM2LjE1NDkgOC45ODgyOSAzNS4zMDE0IDkuMDY1NjRMMTAuMTM2NyAxMC41MzUxQzkuMjA3OTkgMTAuNjEzMSA4Ljg5ODIxIDExLjA3NzcgOC44OTgyMSAxMi4wODMzSDguODk4MjlaTTMyLjY3MDggMTMuMzJDMzIuODI1MiAxNC4wMTcgMzIuNjcwOCAxNC43MTMzIDMxLjk3MjUgMTQuNzkxN0wzMC44MTIzIDE1LjAyMjlWMzIuMDQzNEMyOS44MDQ5IDMyLjU4NDggMjguODc1OSAzMi44OTQ0IDI4LjEwMTggMzIuODk0NEMyNi44NjI1IDMyLjg5NDQgMjYuNTUyMSAzMi41MDcyIDI1LjYyMzcgMzEuMzQ3NEwxOC4wMzQzIDE5LjQzMjlWMzAuOTYwNUwyMC40MzU5IDMxLjUwMjRDMjAuNDM1OSAzMS41MDI0IDIwLjQzNTkgMzIuODk0NCAxOC40OTgzIDMyLjg5NDRMMTMuMTU2OCAzMy4yMDQyQzEzLjAwMTYgMzIuODk0NCAxMy4xNTY4IDMyLjEyMTQgMTMuNjk4NiAzMS45NjY1TDE1LjA5MjUgMzEuNTgwMlYxNi4zMzg1TDEzLjE1NzIgMTYuMTgzNEMxMy4wMDE5IDE1LjQ4NjQgMTMuMzg4NSAxNC40ODE0IDE0LjQ3MzMgMTQuNDAzNUwyMC4yMDM1IDE0LjAxNzJMMjguMTAxOCAyNi4wODY4VjE1LjQwOTdMMjYuMDg4MSAxNS4xNzg2QzI1LjkzMzUgMTQuMzI2NSAyNi41NTIxIDEzLjcwNzggMjcuMzI2NSAxMy42MzExTDMyLjY3MDggMTMuMzJaTTMuMzk5NzMgMS43MTU5OEwyNS40Njg4IDAuMDkwNzQ1N0MyOC4xNzkgLTAuMTQxNjg4IDI4Ljg3NjMgMC4wMTQwMjQ1IDMwLjU3OTYgMS4yNTEzNUwzNy42MjQzIDYuMjAyNzZDMzguNzg2NyA3LjA1NDIxIDM5LjE3NDIgNy4yODYwMiAzOS4xNzQyIDguMjE0MTlWMzUuMzcwNkMzOS4xNzQyIDM3LjA3MjYgMzguNTU0MiAzOC4wNzkxIDM2LjM4NjUgMzguMjMzMUwxMC43NTc3IDM5Ljc4MDdDOS4xMzA0OSAzOS44NTgzIDguMzU2MDcgMzkuNjI2NCA3LjUwMzkyIDM4LjU0MjZMMi4zMTYwOCAzMS44MTE3QzEuMzg2NTggMzAuNTcyNiAxIDI5LjY0NTcgMSAyOC41NjEzVjQuNDIyODNDMSAzLjAzMTA1IDEuNjIwMTkgMS44NzAwNSAzLjM5OTczIDEuNzE1OThWMS43MTU5OFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo="
        },
        "displayName": "Notion",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 840,
        "icon": "file:openAi.svg",
        "name": "n8n-nodes-base.openAi",
        "codex": {
          "data": {
            "alias": [
              "ChatGPT",
              "DallE"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.openai/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/openai/"
                }
              ]
            },
            "categories": [
              "Utility"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMjYwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZD0iTTIzOS4xODQgMTA2LjIwM2E2NC43MiA2NC43MiAwIDAgMC01LjU3Ni01My4xMDNDMjE5LjQ1MiAyOC40NTkgMTkxIDE1Ljc4NCAxNjMuMjEzIDIxLjc0QTY1LjU4NiA2NS41ODYgMCAwIDAgNTIuMDk2IDQ1LjIyYTY0LjcyIDY0LjcyIDAgMCAwLTQzLjIzIDMxLjM2Yy0xNC4zMSAyNC42MDItMTEuMDYxIDU1LjYzNCA4LjAzMyA3Ni43NGE2NC42NyA2NC42NyAwIDAgMCA1LjUyNSA1My4xMDJjMTQuMTc0IDI0LjY1IDQyLjY0NCAzNy4zMjQgNzAuNDQ2IDMxLjM2YTY0LjcyIDY0LjcyIDAgMCAwIDQ4Ljc1NCAyMS43NDRjMjguNDgxLjAyNSA1My43MTQtMTguMzYxIDYyLjQxNC00NS40ODFhNjQuNzcgNjQuNzcgMCAwIDAgNDMuMjI5LTMxLjM2YzE0LjEzNy0yNC41NTggMTAuODc1LTU1LjQyMy04LjA4My03Ni40ODNtLTk3LjU2IDEzNi4zMzhhNDguNCA0OC40IDAgMCAxLTMxLjEwNS0xMS4yNTVsMS41MzUtLjg3IDUxLjY3LTI5LjgyNWE4LjYgOC42IDAgMCAwIDQuMjQ3LTcuMzY3di03Mi44NWwyMS44NDUgMTIuNjM2Yy4yMTguMTExLjM3LjMyLjQwOS41NjN2NjAuMzY3Yy0uMDU2IDI2LjgxOC0yMS43ODMgNDguNTQ1LTQ4LjYwMSA0OC42MDFNMzcuMTU4IDE5Ny45M2E0OC4zNSA0OC4zNSAwIDAgMS01Ljc4MS0zMi41ODlsMS41MzQuOTIxIDUxLjcyMiAyOS44MjZhOC4zNCA4LjM0IDAgMCAwIDguNDQxIDBsNjMuMTgxLTM2LjQyNXYyNS4yMjFhLjg3Ljg3IDAgMCAxLS4zNTguNjY1bC01Mi4zMzUgMzAuMTg0Yy0yMy4yNTcgMTMuMzk4LTUyLjk3IDUuNDMxLTY2LjQwNC0xNy44MDNNMjMuNTQ5IDg1LjM4YTQ4LjUgNDguNSAwIDAgMSAyNS41OC0yMS4zMzN2NjEuMzlhOC4yOSA4LjI5IDAgMCAwIDQuMTk1IDcuMzE2bDYyLjg3NCAzNi4yNzItMjEuODQ1IDEyLjYzNmEuODIuODIgMCAwIDEtLjc2NyAwTDQxLjM1MyAxNTEuNTNjLTIzLjIxMS0xMy40NTQtMzEuMTcxLTQzLjE0NC0xNy44MDQtNjYuNDA1em0xNzkuNDY2IDQxLjY5NS02My4wOC0zNi42M0wxNjEuNzMgNzcuODZhLjgyLjgyIDAgMCAxIC43NjggMGw1Mi4yMzMgMzAuMTg0YTQ4LjYgNDguNiAwIDAgMS03LjMxNiA4Ny42MzV2LTYxLjM5MWE4LjU0IDguNTQgMCAwIDAtNC40LTcuMjEzbTIxLjc0Mi0zMi42OS0xLjUzNS0uOTIyLTUxLjYxOS0zMC4wODFhOC4zOSA4LjM5IDAgMCAwLTguNDkyIDBMOTkuOTggOTkuODA4Vjc0LjU4N2EuNzIuNzIgMCAwIDEgLjMwNy0uNjY1bDUyLjIzMy0zMC4xMzNhNDguNjUyIDQ4LjY1MiAwIDAgMSA3Mi4yMzYgNTAuMzkxek04OC4wNjEgMTM5LjA5N2wtMjEuODQ1LTEyLjU4NWEuODcuODcgMCAwIDEtLjQxLS42MTRWNjUuNjg1YTQ4LjY1MiA0OC42NTIgMCAwIDEgNzkuNzU3LTM3LjM0NmwtMS41MzUuODctNTEuNjcgMjkuODI1YTguNiA4LjYgMCAwIDAtNC4yNDYgNy4zNjd6bTExLjg2OC0yNS41OEwxMjguMDY3IDk3LjNsMjguMTg4IDE2LjIxOHYzMi40MzRsLTI4LjA4NiAxNi4yMTgtMjguMTg4LTE2LjIxOHoiLz48L3N2Zz4="
        },
        "displayName": "OpenAI",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 7,
            "name": "Utility"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 44,
        "name": "Crypto Trading"
      },
      {
        "id": 47,
        "name": "AI Chatbot"
      }
    ],
    "image": []
  }
}