public/data/workflows/6240/6240.json
{
  "workflow": {
    "id": 6240,
    "name": "Multi-service terminal: Access Gmail, X, Telegram & news with Gemini AI",
    "views": 362,
    "recentViews": 0,
    "totalViews": 362,
    "createdAt": "2025-07-21T16:59:13.699Z",
    "description": "This workflow receives plain English instructions from a retro console via a webhook. Using an AI agent, it can combine multiple tools to read general RSS news headlines, stock market updates, emails, calendar events, search X, send Telegram messages, and run Linux commands. The idea is to avoid using smartphones or regular laptops in the morning, and instead use a retro console installed on an old notebook or netbook. You will need to copy a Python script onto the notebook, configure the webhook URL, and set up all the required credentials.\n\nSteps: \n1. Setup Gemini API key, Google Gmail and Calendar credentials from console.google.com\n2. Setup X credentials, RSS URL, etc\n3. Obtain the webhook URL and paste into the Python code to be executed at the Linux machine\n4. Run the python script with python3 console.py\n\nNote: if you ask for a Linux command, the command will not only be returned but also executed.\n",
    "workflow": {
      "id": "ofy3xqsKedoTQCso",
      "meta": {
        "instanceId": "03ac2f7799e30866805c56204bdd3ce84b0038686b0a5c9283f8aa066a4e9f6e",
        "templateCredsSetupCompleted": true
      },
      "name": "AI Retro Console Upload",
      "tags": [],
      "nodes": [
        {
          "id": "e4dce217-5771-4240-b774-c119307ac591",
          "name": "AI Agent",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            200,
            -200
          ],
          "parameters": {
            "text": "={{ $json.query.prompt }}",
            "options": {
              "systemMessage": "=You are an AI assistant. Answer short, cynical and dry using the following tools:\n\n1. Search the news\n2. Search the stock market\n3. Search X\n4. Obtain date and time\n5. Send a Telegram message \n6. Search Gmail inbox\n7. Search events in Google Calendar\n8. Search RSS newspaper headlines\n\nYou can also use your default knowledge base.\n\nIf you are asked to send a Telegram, use as the Telegram body, the information sent by the user or the output from other tool.\n\nIf you are asked for news about a subject, retrieve up to 5 news and summarize\n\nIf you are asked to Search X, use as the search input the term provided by the user. **IMPORTANT:** The X tool has strict rate limits. Do not make rapid, consecutive calls to this tool. If you need to make multiple Twitter requests, space them out. If you encounter an error related to 'Too Many Requests', you must wait a reasonable amount of time (e.g., 60 seconds) before trying again or inform the user about the rate limit.\n\nIf you are asked to search the calendar use the Google Calendar tool.\n\nIf you are asked to search the inbox use the Gmail tool\n\nIf you are asked about a Linux command, answer starting with $ and the Linux command requested only. Example, user says Whats the linux command to list files, you answer:$ ls"
            },
            "promptType": "define"
          },
          "typeVersion": 2
        },
        {
          "id": "09ad554a-fa2e-4913-a8e9-fc8ba9e8c936",
          "name": "Simple Memory",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "position": [
            100,
            100
          ],
          "parameters": {
            "sessionKey": "={{$json.query.sessionId}}",
            "sessionIdType": "customKey",
            "contextWindowLength": 10
          },
          "typeVersion": 1.3
        },
        {
          "id": "07d1f039-8a01-4aea-a93f-3c8cb6daf647",
          "name": "Date & Time",
          "type": "n8n-nodes-base.dateTimeTool",
          "position": [
            380,
            100
          ],
          "parameters": {
            "options": {}
          },
          "typeVersion": 2
        },
        {
          "id": "0c925661-dff4-46c2-818d-1cb9d5df462c",
          "name": "LLM Gemini 2.5 Flash",
          "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
          "position": [
            -100,
            100
          ],
          "parameters": {
            "options": {
              "maxOutputTokens": 2048
            },
            "modelName": "models/gemini-2.5-flash"
          },
          "credentials": {
            "googlePalmApi": {
              "id": "credential-id",
              "name": "googlePalmApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "5e09f0a8-6e37-4e9b-9d51-60664ea58c38",
          "name": "Search Tweets",
          "type": "n8n-nodes-base.twitterTool",
          "position": [
            860,
            100
          ],
          "parameters": {
            "limit": 10,
            "operation": "search",
            "searchText": "={{ $fromAI('Search_Term', `Use the search term provided`, 'string') }}",
            "descriptionType": "manual",
            "toolDescription": "Search X according to user's search terms",
            "additionalFields": {
              "tweetFieldsObject": [
                "text",
                "author_id"
              ]
            }
          },
          "credentials": {
            "twitterOAuth2Api": {
              "id": "credential-id",
              "name": "twitterOAuth2Api Credential"
            }
          },
          "typeVersion": 2
        },
        {
          "id": "220c24e7-1e3c-4344-acfd-f036a3d0b298",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -360,
            -220
          ],
          "parameters": {
            "content": "## In\nReceives console command. Example: \"what's in my inbox?\""
          },
          "typeVersion": 1
        },
        {
          "id": "d5fa0f6c-9f25-4267-9a97-6bc868d36525",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            800,
            -220
          ],
          "parameters": {
            "content": "## Out\nSend AI agent response back to the console. Example: \"AI $ you have 3 unread emails\""
          },
          "typeVersion": 1
        },
        {
          "id": "343b9723-f1e5-478f-9bbc-5b73ae74c43a",
          "name": "Console In",
          "type": "n8n-nodes-base.webhook",
          "position": [
            -20,
            -200
          ],
          "webhookId": "8d6b9886-7cc4-470f-84fa-02954655b297",
          "parameters": {
            "path": "8d6b9886-7cc4-470f-84fa-02954655b297",
            "options": {},
            "responseMode": "responseNode"
          },
          "typeVersion": 2
        },
        {
          "id": "ef85b5cc-2b88-4bf4-a6b2-0bd1055518c0",
          "name": "Console out",
          "type": "n8n-nodes-base.respondToWebhook",
          "position": [
            560,
            -200
          ],
          "parameters": {
            "options": {}
          },
          "typeVersion": 1.4
        },
        {
          "id": "42f3318e-536a-43b4-b20b-3b0fd1ebea79",
          "name": "Stock info",
          "type": "n8n-nodes-base.marketstackTool",
          "position": [
            540,
            100
          ],
          "parameters": {
            "symbol": "={{ $fromAI('Ticker', ``, 'string') }}",
            "resource": "ticker",
            "descriptionType": "manual",
            "toolDescription": "Get stock market news about a ticker"
          },
          "credentials": {
            "marketstackApi": {
              "id": "credential-id",
              "name": "marketstackApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "c8786788-41f4-4f5b-8460-0803a825f1f1",
          "name": "RSS news",
          "type": "n8n-nodes-base.rssFeedReadTool",
          "position": [
            700,
            100
          ],
          "parameters": {
            "url": "https://www.clarin.com/rss/lo-ultimo/",
            "options": {
              "ignoreSSL": false
            },
            "toolDescription": "Headlines from Clarin newspaper"
          },
          "typeVersion": 1.2
        },
        {
          "id": "b89de3fb-91e9-42a0-be86-460280b9a07a",
          "name": "Send Telegram",
          "type": "n8n-nodes-base.telegramTool",
          "position": [
            1380,
            100
          ],
          "webhookId": "015ed9fd-441d-4978-8573-0fdb1a2db1cc",
          "parameters": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
            "chatId": "=YOUR_CHAT_ID",
            "descriptionType": "manual",
            "toolDescription": "Send a text message with Telegram with text defined by the user. Text could be a message by the user or the output from other tool.",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "credentials": {
            "telegramApi": {
              "id": "credential-id",
              "name": "telegramApi Credential"
            }
          },
          "typeVersion": 1.2
        },
        {
          "id": "f9699166-a521-4d89-b90e-506172cbd5c6",
          "name": "Read Gmail",
          "type": "n8n-nodes-base.gmailTool",
          "position": [
            1020,
            100
          ],
          "webhookId": "8649c7fd-c60b-4f27-bdd3-a9d4d65b098e",
          "parameters": {
            "limit": 10,
            "filters": {},
            "operation": "getAll",
            "descriptionType": "manual",
            "toolDescription": "Search Gmail inbox"
          },
          "credentials": {
            "gmailOAuth2": {
              "id": "credential-id",
              "name": "gmailOAuth2 Credential"
            }
          },
          "typeVersion": 2.1
        },
        {
          "id": "cf6e1e98-323b-4be7-95d8-ffa49e545c89",
          "name": "Check Google Calendar",
          "type": "n8n-nodes-base.googleCalendarTool",
          "position": [
            1200,
            100
          ],
          "parameters": {
            "limit": 10,
            "options": {},
            "calendar": {
              "__rl": true,
              "mode": "list",
              "value": "YOUR_EMAIL",
              "cachedResultName": "YOUR_EMAIL"
            },
            "operation": "getAll",
            "descriptionType": "manual",
            "toolDescription": "Search for events in the calendar"
          },
          "credentials": {
            "googleCalendarOAuth2Api": {
              "id": "credential-id",
              "name": "googleCalendarOAuth2Api Credential"
            }
          },
          "typeVersion": 1.3
        }
      ],
      "active": false,
      "pinData": {
        "Console In": [
          {
            "json": {}
          }
        ]
      },
      "settings": {
        "timezone": "America/Argentina/Buenos_Aires",
        "callerPolicy": "workflowsFromSameOwner",
        "executionOrder": "v1"
      },
      "versionId": "9952f58e-967d-4cf0-a1a2-2c8838a6af47",
      "connections": {
        "AI Agent": {
          "main": [
            [
              {
                "node": "Console out",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "RSS news": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Console In": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Read Gmail": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Stock info": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Date & Time": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Search Tweets": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Send Telegram": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Simple Memory": {
          "ai_memory": [
            [
              {
                "node": "AI Agent",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "LLM Gemini 2.5 Flash": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Check Google Calendar": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 29,
    "workflowInfo": {
      "nodeCount": 14,
      "nodeTypes": {
        "n8n-nodes-base.webhook": {
          "count": 1
        },
        "n8n-nodes-base.gmailTool": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 2
        },
        "n8n-nodes-base.twitterTool": {
          "count": 1
        },
        "n8n-nodes-base.dateTimeTool": {
          "count": 1
        },
        "n8n-nodes-base.telegramTool": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 1
        },
        "n8n-nodes-base.marketstackTool": {
          "count": 1
        },
        "n8n-nodes-base.rssFeedReadTool": {
          "count": 1
        },
        "n8n-nodes-base.respondToWebhook": {
          "count": 1
        },
        "n8n-nodes-base.googleCalendarTool": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
          "count": 1
        }
      }
    },
    "status": "published",
    "user": {
      "name": "Roni Bandini",
      "username": "bandini",
      "bio": "Exploring the intersection of technology, subversion, and creative resistance. My work focuses on TinyML prototypes and LLM projects, pushing the boundaries of AI and embedded systems.",
      "verified": false,
      "links": [
        "https://bandini.medium.com/"
      ],
      "avatar": "https://gravatar.com/avatar/ae517e8f09802db946eed336bcebf468061f12f7e74b946cc5f0b513d3970ab7?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 47,
        "icon": "file:webhook.svg",
        "name": "n8n-nodes-base.webhook",
        "codex": {
          "data": {
            "alias": [
              "HTTP",
              "API",
              "Build",
              "WH"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                  "label": "How to automate every step of an incident response workflow"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "Webhook"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
        },
        "displayName": "Webhook",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 535,
        "icon": "file:webhook.svg",
        "name": "n8n-nodes-base.respondToWebhook",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.respondtowebhook/"
                }
              ]
            },
            "categories": [
              "Core Nodes",
              "Utility"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Respond to Webhook"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
        },
        "displayName": "Respond to Webhook",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 7,
            "name": "Utility"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1163,
        "icon": "fa:database",
        "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Memory"
              ],
              "Memory": [
                "For beginners"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Simple Memory"
        },
        "iconData": {
          "icon": "database",
          "type": "icon"
        },
        "displayName": "Simple Memory",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1262,
        "icon": "file:google.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Google Gemini Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
        },
        "displayName": "Google Gemini Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 43,
        "name": "Personal Productivity"
      },
      {
        "id": 47,
        "name": "AI Chatbot"
      }
    ],
    "image": []
  }
}